<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center" id="title">
                <h1 class="py-3  mx-auto my-0 text-lowercase" id="pang">ad libitum</h1>
                <h2 class="text-white-50 mx-auto mt-3 mb-5">Keeps track of all your favorite spots, so you don't have to</h2>
                <a class="mt-3 btn btn-primary" href="#about">Get Started</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="black text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center align-items-center">
            <div class="col-lg-4 mb-4">
                <a class="btn btn-primary" href="/users/new">New User</a>
            </div>
            <div class="col-lg-4 mb-4">
                <a class="btn btn-primary" href="/users/login">Been Here Before</a>
            </div>
        </div>
    </div>
</section>
<div class="black"></div>
<div class="projects-section" id="below-login"></div>
<div class="black"></div>
<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                
            </div>
        </div>
    </div>
</section>
<!-- contact -->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-code-branch text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Portfolio</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">Coming Soon...</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="mailto:philjang.pr@gmail.com">philjang.pr@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+1-(425)-345-5813</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>