<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Pangs</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Keeps track of all your favorite spots, so you don't have to</h2>
                <a class="btn btn-primary" href="#about">Get Started</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center align-items-center">
            <div class="col-lg-4">
                <a class="btn btn-primary" href="/users/login">Log In</a>
            </div>
            <div class="col-lg-4">
                <a class="btn btn-primary" href="/users/new">Sign Up</a>
            </div>
        </div>
        <img class="img-fluid" src="/assets/img/ipad.png" alt="..." />
    </div>
</section>
<!-- white box -->
<section class="projects-section bg-light" id="projects"></section>
<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                
            </div>
        </div>
    </div>
</section>
<!-- contact -->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Portfolio</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">philjang.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">philjang.pr@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">1(111)111-1111</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>