body {
    background-color: lightgray;
}
em {
    color:white;
}
input {
    text-align: center;
}

.menu-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.padding-top {
    padding-top: 5rem;
}

.padding-vert {
    padding: 10rem 0rem;
}

.backdrop {
    background-color:rgba(255, 255, 255, 0.3)
}

.black {
    padding-top: 10rem;
    background-color: black;
}
@media (min-width: 992px) {
    .black {
        padding-top: 15rem;
    }
}

@media (min-width: 992px) {
    #title {
    padding-right: 20vw;
    }
}

#below-login {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 1) 100%), url('../assets/img/signup.jpg');
    background-size: cover;
}

.menu {
    /* background-color: lightgray; */
}
.no-menu{
    /* background-color: white; */
}
#map {
    /* position: absolute;
    left: 30%; */
}