body {
    background-color: lightgray;
}

.menu-container{
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}
.menu {
    /* background-color: lightgray; */
}
.no-menu{
    /* background-color: white; */
}
#map {
    /* position: absolute;
    left: 30%; */
}