<section class="padding-top content-section bg-dark">
<!-- Title -->
    <div class="container bg-dark bg-opacity-50 py-3">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <h2 class="text-white"><i class="fas fa-folder-open text-primary"></i> &nbsp;Your Categories</h2>
        </div>
    </div>
<!-- Category List -->
    <div class="container px-4 px-lg-5 align-items-center">
        <div class="row mx-0 gx-4 gy-5 gx-lg-5 py-4 py-lg-5 container align-content-around justify-content-around">
            <% categoryArr.forEach(category => { %>
                <div class="col-md-4 mb-3 mb-md-0">
                    <a href="/categories/<%= category.name %>">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <h4 class="text-uppercase m-0"><%= category.name %></h4>
                                <hr class="mb-1 mt-4 mx-auto" />
                            </div>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

<!-- Add New Category Link -->
 <div class="container bg-dark bg-opacity-50 py-5">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <h4 class="text-uppercase m-0">
                        <a href="/categories/1new">
                            <i class="fas fa-angle-double-right"></i>___Add New Category___<i class="fas fa-angle-double-left"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

</section>