<h3>New Category</h3>
<form action="/categories" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="name" name="name" id="name" required>
    </div>

    <button type="submit">Add New Category!</button>
</form>