<section class="signup-section" id="signup">
    <div class="backdrop container px-4 px-lg-5">
        <div class="row py-4 gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

                <i class="fas fa-file-signature fa-2x mb-3 text-white"></i>
                <h2 class="text-white mb-5">Hi There! Sign up Below!</h2>

                <form action="/users" method="post">
                    <div class="mb-4">
                        <label class="text-white" for="name">Name:</label>
                        <input class="form-control" autocomplete="off" type="name" name="name" id="name" required>
                    </div>
                 
                    <div class="mb-4">
                        <label class="text-white" for="email">Email:</label>
                        <input class="form-control" autocomplete="off" type="email" name="email" id="email" required>
                    </div>
                 
                    <div class="mb-5">
                        <label class="text-white" for="password">Password:</label>
                        <input class="form-control" type="password" name="password" id="password" required>
                    </div>
                 
                    <button class="btn btn-primary" type="submit">Sign Up!</button>
                </form>

            </div>
        </div>
    </div>
</section>