<section class="padding-vert contact-section bg-dark">

    <div class="container bg-dark bg-opacity-50 py-5">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <h2 class="text-white"><i class="fas fa-user-astronaut text-primary"></i> &nbsp;Hello, <%= currentUser.name %> </h2>
        </div>
    </div>

    <div class="container px-4 px-lg-5 align-items-center">
        <div class="row mx-0 gx-4 gx-lg-5 py-4 py-lg-5 container justify-content-around">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-utensils text-primary my-3"></i>
                        <h4 class="text-uppercase m-0"><a href="/restaurants/">My Restaurants</a></h4>
                        <hr class="my-4 mx-auto" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-folder-open text-primary my-3"></i>
                        <h4 class="text-uppercase m-0"><a href="/categories/">My Categories</a></h4>
                        <hr class="my-4 mx-auto" />
                    </div>
                </div>
            </div>
     
        </div>
    </div>
</section>