<section class="content-section bg-dark padding-vert profile">

    <div class="container bg-dark bg-opacity-50 py-5">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <h2 class="text-white animate__animated animate__tada"><i class="fas fa-user-astronaut text-primary"></i> &nbsp;Hello, <%= currentUser.name %> </h2>
        </div>
    </div>

    <div class="container px-4 px-lg-5 align-items-center">
        <!-- Restaurants -->
        <div class="row mx-0 gx-4 gx-lg-5 py-4 pt-lg-5 pb-lg-3 container justify-content-around">
            
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="/restaurants/">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-utensils text-primary my-3"></i>
                            <h4 class="text-uppercase m-0">My Restaurants</h4>
                            <hr class="my-4 mx-auto" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="/categories/">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-folder-open text-primary my-3"></i>
                            <h4 class="text-uppercase m-0">My Categories</h4>
                            <hr class="my-4 mx-auto" />
                        </div>
                    </div>
                </a>
            </div>
     
        </div>

        <div class="lg-only row mx-0 gx-4 gx-lg-5 container justify-content-around">
            <div class="col-md-4 mb-md-0 text-center">
                <a href="/restaurants/new" class="button-link mt-2 btn btn-primary"> <i class="fas fa-plus"></i></a>
            </div>
            <div class="col-md-4 mb-md-0 text-center">
                <a href="/categories/1new" class="button-link mt-2 btn btn-primary"> <i class="fas fa-plus"></i></a>
            </div>
        </div>
        <!-- Cafes -->
        <div class="row mx-0 gx-4 gx-lg-5 py-4 pt-lg-5 pb-lg-3 container justify-content-around">
            
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="/cafes/">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-coffee text-primary my-3"></i>
                            <h4 class="text-uppercase m-0">My Cafes</h4>
                            <hr class="my-4 mx-auto" />
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="/ccategories/">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-folder-open text-primary my-3"></i>
                            <h4 class="text-uppercase m-0">My Cafe Categories</h4>
                            <hr class="my-4 mx-auto" />
                        </div>
                    </div>
                </a>
            </div>
     
        </div>

        <div class="lg-only row mx-0 gx-4 gx-lg-5 container justify-content-around">
            <div class="col-md-4 mb-md-0 text-center">
                <a href="/cafes/new" class="button-link mt-2 btn btn-primary"> <i class="fas fa-plus"></i></a>
            </div>
            <div class="col-md-4 mb-md-0 text-center">
                <a href="/ccategories/1new" class="button-link mt-2 btn btn-primary"> <i class="fas fa-plus"></i></a>
            </div>
        </div>

    </div>
</section>