<section class="contact-section bg-dark"></section>
        <div class="bg-dark pb-5">
            
            <!-- Title -->
            <div class="container py-5">
                <div class="column col-md-10 col-lg-8 mx-auto text-center">
                    <h2 class="text-white">New Restaurant</h2>
                    <% if(error) { %> 
                        <div class="animate__animated animate__flash"><em ><%= error %> </em></div>
                    <% } %> 
                </div>
            </div>

            <!-- Form -->
            <div class="container backdrop-lt px-4 px-lg-5">
                <div class="row py-4 gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">

                        <i class="fas fa-file-signature fa-2x mb-3 text-white"></i>

                        <form action="/restaurants" method="post">
                            <div class="mb-4">
                                <label class="text-white" for="name">Name:</label>
                                <input class="form-control" autocomplete="off" type="name" name="name" id="name" required>
                            </div>
                        
                            <div class="mb-4">
                                <label class="text-white" for="address">Address:</label>
                                <input class="form-control" autocomplete="off" type="text" name="address" id="address">
                            </div>
                        
                            <div class="mb-4">
                                <label class="text-white" for="note">Note:</label>
                                <textarea class="form-control" autocomplete="off" type="text area" name="note" id="note"></textarea>
                            </div>
                        
                            <div class="mb-4">
                                <label class="text-white" for="rating">Rating:</label>
                                <input class="form-control" autocomplete="off" type="number" name="rating" id="rating" required>
                            </div>
                        
                            <button class="btn btn-primary" type="submit"><i class="fas fa-plus"></i> &nbsp; Add New Restaurant!</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
</section>